<div class="container">
  <div class="alert alert-success" role="alert">
      Funcionário adicionado: <strong>{{nome}}</strong>
  </div>

  <div class="form-group">
    <label>Nome</label>
    <input type="text" class="form-control" (input)="alterarNome($event)">
    <input type="text" class="form-control" #input_nome>
  </div>

  <button type="button" class="btn btn-primary" on-click="adicionar()" > Adicionar</button>

  <button type="button" class="btn btn-primary" (click)="adicionar()" > Adicionar 2</button>

  <button type="button" class="btn btn-primary" (click)="exibirNome(input_nome.value)" > Adicionar 3</button>

  <hr>

  <div class="alert alert-primary" role="alert" bind-hidden="(texto === 'off')" >
    <strong>Alterando a propriedade</strong>
  </div>

  <div class="form-group">
    <label>Digite off para sumir com o alert</label>
    <input type="text" class="form-control" (input)="alterarTexto($event)" >
  </div>

  <hr>
  <div class="form-group">
    <label>Diretiva [(ngModel)] - {{frase}}</label>
    <input type="text" class="form-control" [(ngModel)]="frase">
  </div>

</div>
